/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
 
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
     border-bottom: 2px solid #eee;
     margin-bottom: 20px;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
    letter-spacing: .04em;
    text-transform: uppercase;
    font-size: 14px;
}
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.display-4{
    font-family: 'Cairo', sans-serif;
}
.jumbotron{
    background-image: url(../images/img1.jpg)
}

.blog-header-logo{
    font-family: 'Lora', serif;
}






.topmenu .p-2{
   font-weight: 600
}
.topmenu a.p-2:hover,.topmenu a.active {
  border-bottom: 3px solid;
    text-decoration: none
}
.topmenu .p-2:nth-child(1){
    color: #e74c3c
}

.topmenu .p-2:nth-child(2){
    color: #2ecc71
}
.topmenu .p-2:nth-child(3){
    color:#9b59b6
}
.topmenu .p-2:nth-child(4){
    color: #3498db
}

.vb{
    background-image: url(../images/float.jpg)
}
.no-gutters{
    background-color: white
}
.col-md-6{
    
    margin-top: 10px;
}


.zoom {
  
  background-image: url(../images/rd0.jpg);
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 250px;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}    

.nav{
    position: relative;
    left: 50%;
    margin-left: -130px;
}

.like{
    color: white;
    padding: .5px;
    margin-right: 5px;
}

.blog-post img{
    max-width: 100%;
    margin-bottom: 10px;
}

.subscribes{
    border: 5px dashed #2ecc71;
    margin: 65px auto;
     padding-bottom: 5px;
}

.subscribes .form-group{
    margin-top: 20px;
}

.sbs{
   color: black;
    margin-top: 10px;
}

.subscribes .form-group{
    margin: 20px;

}

.center{
    text-align: center;
}

.pposts li{
    padding: 10px;
    font-size: 20px;
    border: 2px solid white;
    min-height: 60px;
    line-height: 25px;
    
}

.ppostsh{
    text-transform: uppercase;
    background-color: white;
    padding: 8px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
     border-radius: 5px;
}
.pposts {
    font-size: 20px;
    border: 3px solid white;
    padding: 0;
    border-top: 0;
    border-radius: 5px;
}
.subscribes h4{
    text-align:center;
}
.foot{
    width: 100%;
    height:20%;
    background-color: #efefef    
}
#foote{
    text-align: center;
    margin-bottom: 0
}
.sbsb{
    padding: 4px;
    font-size: 15px;
    color: black;
    letter-spacing: 3px
}   
.sbsb:hover{
  color: white;
    text-decoration: none;
  
}   
#share-buttons img {
width: 50px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#shareb{
    font-size: 30px;
    font-weight: 600;
    vertical-align: middle;
    margin-bottom: 0;
}
.shareb2{
width: 40px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
.toph{
        padding: 5px;
        color: white;
}
.main-container{
    width:"80%";
    height: 100%;
    background-color: #efefef;
}
.top-header{
    border-bottom: 3px solid white;
}
.img1{
        margin: 20px;
    border: 4px solid white;
    box-shadow: 3px 3px black;
    z-index: 9999;
    height: 220px;
    background-image: url(../images/abt.jpg)
}
.bd{
    border: 2px solid white;
    margin: 15px;
}
.h6{
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}
.ttl{
    font-size: 20px;
     font-weight: 600;
}
.lst ul li{
    padding: 5px;
}
.lst4{
        font-size: 20px;
}
.body_about{
        border-bottom: 2px solid white;
}
.findb{
    margin: 0 auto;
    color: black;
    text-align: center
}